* {
    box-sizing: border-box;
    -webkit-appearance: none;
    }

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Varela', sans-serif;
    background: url('https://i.pinimg.com/originals/b0/43/c1/b043c1be7ed0d4f085e356e159250c69.jpg') fixed;
    background-repeat: no-repeat;
    background-size:cover;
    }

header{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    padding: 3%;
    align-items: center;
}
#mealitem{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    padding: 3%;
    align-items: center;
    margin-bottom: 2%;
}
h1{
    text-align: center;
    font-size: 1.7em;
    }

h2{
    text-align: center;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    cursor: pointer;
}
#userInputForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

section {
    margin-top: 20px;
    }

form {
    
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
#dailyCalsForm{
    margin-left: 2%;
}

#js-dailycals{
    color: #444;
    line-height: 1.3;
    padding: .6em 1.2em .5em .8em;
    width: 33%;
    max-width: 33%; 
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    }

#js-dietRestrict{
    display: block;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: fit-content;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    }

select {
    display: block;
    margin: 0 auto;
    text-align: center;
    }

.button-primary{
    display:flex;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align: center;
    width: fit-content;
    transition: all 0.2s;
    }

#mealResults{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100vw;
    
}
#mealResults p:nth-of-type(1){
    font-size: 24px;
}

#mealResults p:nth-of-type(4){
    clear: both;
    float: right;
}
img{
    width: 80%;
}
        
.button-primary:hover{
        background-color:#4095c6;
    }

@media (min-width: 1200px){
    #mealResults{
        display: flex;
        flex-direction: row;
        width: 70%;
        text-align: center;
        justify-content: center;
        margin-left: 15%;
    }
    #mealitem{
        width: 30%;
    }
    img{
        width: 100%;
    }
}